---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---
<Header />
<Layout title="Galeria de fotos">
  <section class="flex flex-col items-center gap-28 p-5">
    <p class="text-6xl text-center mx-auto text-red-900 font-bold self-end mt-10 uppercase">
      Tu Galeria 
    </p>
   
  </section>

  <div
    class="galery-container columns-1 sm:columns-2 md:columns-3 lg:columns-4 space-y-3 p-3"
  >
    <div
      class="hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios1"> <img src="/img/kios.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios2"> <img src="/img/museo.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios3"> <img src="/img/perla.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios4"> <img src="/img/piedra.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios5"> <img src="/img/tiburon.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios6"> <img src="/img/BB.jpg" /></a>
    </div>

    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios7"> <img src="/img/sea2.jpg" /></a>
    </div>

    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios8"> <img src="/img/tardecer.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios9"> <img src="/img/EE.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios10"> <img src="/img/hotel.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios11"> <img src="/img/AA.jpg" /></a>
    </div>

    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios12"> <img src="/img/sea.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios13"> <img src="/img/CC.jpg " /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios14"> <img src="/img/blog.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios15"> <img src="/img/lp.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios16"> <img src="/img/whale.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios17"> <img src="/img/food.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios18"> <img src="/img/catedral.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios19"> <img src="/img/sun.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios20"> <img src="/img/sea.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios21"> <img src="/img/night.jpg" /></a>
    </div>
    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios22"> <img src="/img/harker.jpg" /></a>
    </div>

    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios23"> <img src="/img/mirador.jpg" /></a>
    </div>

    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios24"> <img src="/img/fishers.jpg" /></a>
    </div>

    <div
      class="galery-items hover:!scale-90 transition rounded overflow-hidden cursor-pointer"
    >
      <a href="#kios25"> <img src="/img/farol.jpg" /></a>
    </div>
  </div>


  <article class="light-box" id="kios1">
    <a href="#kios25" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/kios.jpg" alt="" />
    <a href="#kios2" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios2">
    <a href="#kios1" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/museo.jpg" alt="" />
    <a href="#kios3" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios3">
    <a href="#kios2" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/perla.jpg" alt="" />
    <a href="#kios4" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios4">
    <a href="#kios3" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/piedra.jpg" alt="" />
    <a href="#kios5" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios5">
    <a href="#kios4" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/tiburon.jpg" alt="" />
    <a href="#kios6" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios6">
    <a href="#kios5" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/BB.jpg" alt="" />
    <a href="#kios7" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios7">
    <a href="#kios6" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/sea2.jpg" alt="" />
    <a href="#kios8" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios8">
    <a href="#kios7" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/tardecer.jpg" alt="" />
    <a href="#kios9" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios9">
    <a href="#kios8" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/EE.jpg" alt="" />
    <a href="#kios10" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios10">
    <a href="#kios9" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/hotel.jpg" alt="" />
    <a href="#kios11" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios11">
    <a href="#kios10" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/AA.jpg" alt="" />
    <a href="#kios12" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios12">
    <a href="#kios11" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/sea.jpg" alt="" />
    <a href="#kios13" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios13">
    <a href="#kios12" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/CC.jpg" alt="" />
    <a href="#kios14" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios14">
    <a href="#kios13" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/blog.jpg" alt="" />
    <a href="#kios15" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios15">
    <a href="#kios14" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/lp.jpg" alt="" />
    <a href="#kios16" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios16">
    <a href="#kios15" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/whale.jpg" alt="" />
    <a href="#kios17" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios17">
    <a href="#kios16" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/food.jpg" alt="" />
    <a href="#kios18" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios18">
    <a href="#kios17" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/catedral.jpg" alt="" />
    <a href="#kios19" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios19">
    <a href="#kios18" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/sun.jpg" alt="" />
    <a href="#kios20" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios20">
    <a href="#kios19" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/sea.jpg" alt="" />
    <a href="#kios21" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios21">
    <a href="#kios20" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/night.jpg" alt="" />
    <a href="#kios22" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios22">
    <a href="#kios21" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/harker.jpg" alt="" />
    <a href="#kios23" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios23">
    <a href="#kios22" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/mirador.jpg" alt="" />
    <a href="#kios24" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios24">
    <a href="#kios23" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/fishers.jpg" alt="" />
    <a href="#kios25" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <article class="light-box" id="kios25">
    <a href="#kios24" class="next"
      ><i class="fa-solid fa-arrow-left fa-2xl"></i></a
    >
    <img src="/img/farol.jpg" alt="" />
    <a href="#kios1" class="next"
      ><i class="fa-solid fa-arrow-right fa-2xl"></i></a
    >
    <a href="#" class="close"><i class="fa-solid fa-x fa-2xl"></i></a>
  </article>

  <style>
    .light-box {
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease-in-out;
      width: 100%;
      height: 100vh;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0);
    }

    .light-box img {
      width: 85vw;
      max-height: 85vh;
    }

    .light-box:target {
      transform: scale(1);
    }

    .close {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;
      color: rgb(200, 226, 220);
      text-decoration: none;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
    }

    .next {
      display: block;
      color: white;
      height: 40px;
      width: 50px;
      line-height: 40px;
      text-decoration: none;
      text-align: center;
      border-radius: 45%;
    }
  </style>
  <script
    src="https://kit.fontawesome.com/9fecdf9928.js"
    crossorigin="anonymous"></script>
</Layout>
