---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Sections from "../components/Sections.astro";
---

<Layout>
  <main class="flex flex-col justify-center ">
    <Header />
    <Sections />
  </main>
</Layout>
