---
import Time from "../assets/Time.astro"
---

<header class="py-5
 px-24">
    <nav class="flex justify-between items-center">
        <figure>
            <img class="w-[370px]" src="img/bcs_logo.png" alt="">
        </figure>
        <Time/>
        <figure>
            <img class="w-[300px]" src="img/api_logo.png" alt="">
        </figure>
    </nav>
</header>