---
import Time from "../assets/Time.astro";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Malecon de hoy</title>
		<link rel="stylesheer" href="="styles.css>"
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

	

	</head>
	<body class="bg-[#1ca5e4;]">
		<slot />
		<historical />
		<time />
	
		<style>
	</body>
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	
	}
</style>
</html>